# Normalize EOL for all files that Git considers text files
* text=auto eol=lf

# Export-ignore patterns - these files/folders won't be included in archive downloads
/.editorconfig export-ignore
/.gitattributes export-ignore
/.gitignore export-ignore
/LICENSE export-ignore
/README.md export-ignore
/Preview.png export-ignore
/Preview.png.import export-ignore
/icon.png export-ignore
/icon.png.import export-ignore
/project.godot export-ignore
/view1.png export-ignore
/view1.png.import export-ignore
/view2.png export-ignore
/view2.png.import export-ignore
/view3.png export-ignore
/view3.png.import export-ignore
/view4.png export-ignore
/view4.png.import export-ignore



# Only include the addons folder and its contents
!/addons export-ignore
!/addons/** export-ignore
